header{
    width: 100%;
    padding: 28px 8%;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a37346;
}

#lista{
    display: flex;
    list-style: none;
    gap: 48px;
}
.item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}
.item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #c5884f;
}

#Mobile{
    display: none;
}
#MobileMenu{
    display: none;
}
@media screen and (max-width: 1170px){
    #lista{
        display: none;
    }
    #Mobile{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #MobileMenu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #Mobile_lista{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #Mobile_lista .item{
        list-style: none;
        text-align: center;
    }
}