@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Mrs+Saint+Delafield&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10, 10, 9);
    
}

/*O conteiner delimita quanto da tela será usada, ou seja a tela inteira*/
.conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}
/*A imagem vai ocupar metade da tela e ficará no centro*/
.imagem{
    width: 50%;
    display: relative;
    justify-content: center;
    background-color: #4e5b4b;
    padding: 1rem;
}
.imagem img{
    margin: 4rem 8rem 4rem;
    align-items: center;
}
.imagem .nomes{
    margin-top: -4rem;
    text-align: center;
    color: #e6e6e6;
}
.nomes h1{
    font-size: 3rem;
    font-family: "Cinzel", serif;
    font-weight: 700;
}
.nomes h2 {
    font-size: 3rem;
    font-family: "Mrs Saint Delafield", cursive;
    margin-left: 13rem;
    font-weight: 400;
    text-align: center;
    width: 6.71ch;
    white-space: nowrap;
    overflow: hidden ;
    animation: typing 3s steps(11), blinking 0.1s;
}
@keyframes typing{
    from {
        width: 0;
    }
}
@keyframes blinking {
    50% {
        border-color: transparent;
    }
}


/*A escolha vai ocupar metade da tela e ficará no centro*/
.escolha{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4e5b4b;
   
}
/*Nomes de cima*/
.titulo{
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
   
}
.titulo h1{
    font-size: 4rem;
    color: #e6e6e6;
}
.titulo h3{
    color: #e6e6e6;
    margin: 0 0 2rem 2.3rem;
    font-size: 0.73rem;
    font-weight: 300;
}
/*Espassamento dos icons*/
.img .img1{
    margin-left: 1.2rem;
}
.img .img2{
    margin-left: 2.4rem;
}
/*Botões das opções*/
.botão button{
    width: 100%;
    border: 1px;
    border-color: black;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.39rem 2rem;
    margin-left: -1rem;
}
.botão button:hover {
    background-color: transparent;
}
.botão button:hover a {
    color: black;
}
.botão button a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #e6e6e6;
   
}

/*Botão para ir se cadastrar*/

.cadastre-se{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.cadastre-se button{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0.39rem 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}
.cadastre-se button:hover{
    background-color: transparent;
}
.cadastre-se button a {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.75rem;
    color: #e6e6e6;
 
}
.cadastre-se h3{
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 300;
    color: #e6e6e6;
    margin-top: 0.39rem;
}

.cadastre-se button:hover a {
    color: black;
}

