*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10, 10, 9);
    
}
/*O conteiner delimita quanto da tela será usada, ou seja a tela inteira*/
.conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}
/*A imagem vai ocupar metade da tela e ficará no centro*/
.imagem{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 68, 47);
    padding: 1rem;
}
/*O formulário vai ocupar metade da tela e ficará no centro*/
.formulario{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 68, 47);
    padding: 3rem;
}
/*Nomes de cima*/
.titulo{
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    margin-left: 3.5rem;
}
.titulo h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: aliceblue;
}
.titulo h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    margin: 0 0 2rem 0;
    font-size: 1rem;
    font-weight: 300;
}

/*Para afastamento do box com outro*/
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    
}
/*Tamanho do box*/
.input-box input{
    margin: 0.04rem 0;
    padding: 0.3rem 4rem;
    border: 10px;
    background-color: transparent;
    text-align: center;
    outline: 1px solid rgb(139, 137, 137);
    margin-top: 0.7rem;
}
/*Quando vai colocar o conteudo fica dessa cor*/
.input-box input:hover{
    background-color: rgb(202, 195, 195);
}
/*Para quando vai colocar conteudo no box a margem fica dessa cor*/
.input-box input:focus-visible{
    outline: 1px solid black;
}
/*Letra*/
.input-box label{
    font-size: 0.8rem;
    font-weight: 800;
    color:black;
}
.input-box input::placeholder{
    color: rgb(139, 137, 137);
}
/*Botão de confirmação*/
.botao_confirmar button{
    width: 100%;
    border: 1px;
    border-color: black;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1rem;
}
.botao_confirmar button:hover {
    background-color: transparent;
}
.botao_confirmar button:hover a {
    color: black;
}
.botao_confirmar button a {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 300;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Botão de Esqueceu senha*/
.botao_esqueceuS button{
    width: 100%;
    border: 1px;
    border-color: black;
    background-color: transparent;
    cursor: pointer;
    margin-top: 0.5rem;
}
.botao_esqueceuS button:hover{
    background-color: transparent;
}
.botao_esqueceuS button:hover a{
    color: black;
}
.botao_esqueceuS button a {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 300;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
